[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
plotly = "*"
pandas = "*"
openpyxl = "*"
jupyterlab = "*"
xlsxwriter = "*"
elyra-code-snippet-extension = "*"

[dev-packages]

[requires]
python_version = "3.9"
